body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
h2, h3 {
    padding: 0;
    margin: 0;
}
#calculator-box {
    background-color: tan;
    display: flex;
    flex-flow: column;

    max-width: 500px;
    padding: 20px;
    border: 5px solid black;

    gap: 30px;
}

#buttons-box {
    display: flex;
    flex-flow: column;
    padding: 30px;
    gap: 10px;
}

#screen {
    display: flex;
}

#display-box {
    display: flex;
    min-width: 480px;
    min-height: 4em;
    padding: 0.5em;

    overflow: hidden;
    
    flex-flow: column;

    background-color: lightblue;
    flex-direction: column;
    align-items: flex-end;
}

#previous-input {
    min-height: 1em;
}

.button {
    flex: 1;
    min-width: 100px;
    min-height: 100px;
}

.button.enlarge {
    flex: 3;
}